body {
	font-family: tahoma;
}

header {
	float: left;
	background-color: #519657;
	color: white;
	text-align: center;
	height: 150px;
}

#bannerleft {
	width: 70%;
}
#bannerright {
	width: 30%;
}

section {
	float: left;
	background-color: #E1E1E1;
	height: 450px;
}
#left, #right {
	width: 25%;
}

#middle {
	width: 50%;
	overflow: auto;
}

footer {
	clear: both;
	background-color: #80C683;
	text-align: center;
}

#tir {
	width: 100%;
	padding: 0;
	padding-top: 100px;
	padding-bottom: 100px;
}

table {
	border: 1px solid #80C683;
}
td, th {
	padding: 2px;
}

tr:hover {
	background-color: #80C683;
}

tr:last-child {
	background-color: red;
}