* {
	font-family: cambria;
}

body {
	background-color: linen;
}

aside, header, footer {
	background-color: steelblue;
	color: white;
	text-align: center;
}

aside {
	width: 25%;
	height: 510px;
	margin-top: 0;
	margin-bottom: 0;
	margin-left: 1%;
	margin-right: 1%;
	box-shadow: 4px 4px 5px dimgray;
	float: left;
}

header {
	width: 73%;
	height: 80px;
	float: left;
}

#main {
	float: left;
	width: 73%;
	height: 400px;
}

button {
	float: left;
	background-color: steelblue;
	color: white;
	width: 20%;
	padding: 15px;
	margin-top: 30px;
	margin-right: 4px;
	font-size: 130%;
	border: none;
}

button:hover {
	background-color: navy;
}

#form2, #form3 {
	display: none;
}

#form1, #form2, #form3 {
	clear: both;
	background-color: lightblue;
	margin-right: 80px;
	padding: 10px;
	width: 90%;
}

#progressbar {
	float: left;
	background-color: lightgrey;
	width: 73%;
	margin-bottom: 10px;
}
#progressbarinside {
	background-color: navy;
	width: 4%;
	height: 30px;
}

table {
	width: 100%;
	border: 1px dotted navy;
}

footer {
	clear: both;
}