* {
	font-family: "bookman old style", serif;
}

header {
	float: left;
	background-color: darkcyan;
	color: white;
	width: 50%;
	height: 100px;
	letter-spacing: 15px;
}

footer {
	background-color: darkcyan;
	color: white;
}

div {
	background-color: azure;
	width: 30%;
	margin: 1%;
	box-shadow: 4px 4px 8px dimgray;
	float: left;
}

div img {
	width: 100%;
}

p, h2, h3 {
	margin: 15px;
}

a {
	color: white;
}

h5 {
	background-color: teal;
	width: 100%;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 0px;
	padding-right: 0px;
}
h5:hover {
	background-color: lightseagreen;
}

#quotes {
	clear: both;
}

blockquote {
	text-align: center;
	padding-top: 30px;
	padding-bottom: 30px;
	padding-left: 0px;
	padding-right: 0px;
	font-style: italic;
}

#quote2, #quote3 {
	display: none;
}