* {
	font-family: georgia;
}

header {
	background-color: navy;
	color: white;
	text-align: center;
	height: 100px;
	width: 50%;
	float: left;
}

nav {
	background-color: navy;
	padding: 20px;
}

.poziom {
	color: silver;
	margin: 50px;
}
.poziom:hover {
	color: white;
	font-style: underline;
}

section, aside {
	background-color: azure;
	height: 550px;
	float: left;
}

section {
	width: 70%;
}

aside {
	width: 30%;
}

adide img {
	width: 90%;
}

footer {
	clear: both;
	background-color: navy;
	color: white;
}

table {
	border: 1px solid navy;
	padding: auto;
	width: 70%;
}

tr:hover {
	background-color: skyblue;
}










