* {
	font-family: Verdana;
}

#motor {
	z-index: -1;
	display: block;
	width: 70%;
	position: absolute;
	left: 15%;
}

header {
	background-color: RGB(60, 120, 160, 0.9);
	color: white;
	font-size: 150%;
	padding: 10px;
}

#lewy {
	background-color: RGB(0, 100, 0, 0.6);
	margin: 2%;
	width: 75%;
	height: 600px;
	font-size: 120%;
	overflow: auto;
	box-shadow: 10px 10px 7px dimgray;
	float: left;
}

#prawy {
	background-color: RGB(0, 100, 0, 0.6);
	margin: 1%;
	width: 15%;
	height: 300px;
	box-shadow: 10px 10px 7px dimgray;
	float: left;
}

footer {
	background-color: RGB(60, 120, 160, 0.9);
	color: white;
	padding: 10px;
	clear: both;
}

h1, h2 {
	text-align: center;
	font-style: italic;
}

dt, dt a {
	color: white;
}

dd {
	padding: 1%;
}

dd:hover {
	background-color: lightgreen;
}